
@font-face 
{
    font-family:GemunuLibre-Regular;
    src: url(font/GemunuLibre-Regular.ttf);

}
:root
{
    --texto_hover : #0084ff;
}

header
{
    font-family:GemunuLibre-Regular;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000000;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px 20px 5px ;
}

header .logo img
{
    position: relative;
    transition: 3s;
    max-width: 200px;
    padding-top: 10px;
    z-index:1;
}


header ul
{
    position: relative;
    display: flex;
 
}
header ul li
{
    position: relative;
    list-style: none;
    display: flex;   
}
header ul li a
{
    letter-spacing: 1px;
    display: flex;
    font-size: 18px;
    position: relative;
    margin: 0 35px;
    text-decoration: none;
    color: #fff;
}
header ul li a:hover
{
    color:var(--texto_hover);
    transition: 0.5s;
    text-decoration: none;
}

header ul li a::before
{
    content:' ';
    position: absolute;
    top: 30px;
    width: 100%;
    height: 10%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5 ease-in-out;
    opacity: 0;
}
header ul li a:nth-child(1):before
{
    transform: scale(0);
    transition: 0.5s;
}
header ul li a:hover:nth-child(1):before  
{
    transform: scale(1);
    opacity: 1;
    background: var(--texto_hover);
    text-decoration: none;
}

body:not([testing]) [data-selected="true"] {
    transition: all 0.15s ease 0s;
}
.DropDownBtn 
{
    position: relative;
    border-radius: 4px;
    font-size: 8px;
    font-weight: 300;
    color: #ffffff;
    border:solid 1px #fff;
    width: 3rem;
    background: transparent;

}
.DropDownBtn:hover
{
    width: 3rem;
}
@media(max-width:891px)
{
    header ul li a
    {
        font-size: 1px;
        padding: 0;
        margin: 0;
        opacity: 0;
    }

    header .logo img
    {
        position: relative;
        transition: 0.5s;
        max-width: 200px;
        left: 50%;
    }

    #itens
    {
        margin-right:15%;
    }
}
@media (max-height:600px)
{


    header ul li a
    {
        font-size: 1px;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: 0.5s;
    }

    header .logo img
    {
        position: relative;
        transition: 0.5s;
        max-width: 200px;
        left: 50%;
    }

    #itens
    {
        margin-right:15%;
        transition: 0.5s;
    }
}

@media(max-width:467px)
{

    header ul li a
    {

        padding: 0;
        margin: 0;
        opacity: 0;  
    }

    header .logo img
    {
        position: relative;
        transition: 0.5s;
        max-width: 200px;
        left: 0;
    }

    #itens
    {
        transition: 0.5s;
        margin-right:0;
    }
}
